@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Login</title>
    <link rel="stylesheet" href="~/web-Admin-Login/css/style.css">
</head>
<body>

    <div class="container">
        <div class="contact-form">
            <img src="~/web-Admin-Login/img/admin.jpg" class="admin-img">
            <h2>Kullanıcı Girişi</h2>
            
                <div class="txtb">
                    <input type="text" name="kullaniciadi" placeholder="Kullanıcı Adı">
                </div>
                <div class="txtb">
                    <input type="password" name="sifre" placeholder="Şifre">
                </div>
                <input type="submit" class="logbtn" value="Giriş">


        </div>


    </div>

</body>
</html>
